<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" th:each="action : ${actions}">
                    <li><a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <table th:fragment="list-jobs">
        <tr th:each="job : ${jobs}">
            <td>
                <p><strong>ID: </strong><th:block th:text="${job.getId()}"></th:block></p>
                <p><strong>Name: </strong><th:block th:text="${job.getName()}"></th:block></p>
                <p><strong>Employer: </strong><a th:href="@{/list/jobs(column='employer',value=${job.getEmployer()})}" th:text="${job.getEmployer()}"></a></p>
                <p><strong>Location: </strong><a th:href="@{/list/jobs(column='location',value=${job.getLocation()})}" th:text="${job.getLocation()}"></a></p>
                <p><strong>Position Type: </strong><a th:href="@{/list/jobs(column='positionType',value=${job.getPositionType()})}" th:text="${job.getPositionType()}"></a></p>
                <p><strong>Skill: </strong><a th:href="@{/list/jobs(column='coreCompetency',value=${job.getCoreCompetency()})}" th:text="${job.getCoreCompetency()}"></a></p>
            </td>
        </tr>
    </table>

</body>
</html>